<%= simple_form_for(@folder) do |f| %>
  <% if @folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@folder.errors.count, "error") %> prohibited this folder from being saved:</h2>

      <ul>
      <% @folder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :parent_id, :as => :hidden, :input_html => { :value => params[:id] } %>
    <%= params[:id] %>
    <%#= f.collection_select :parent_id, Folder.order(:title), :id, :title, include_blank: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
