<p id="notice"><%= notice %></p>

<%= "<i class='icon-folder-open'></i>#{@folder.title}".html_safe %>
<%= link_to 'new_folder', new_dir_path %>
<%= link_to 'Edit', edit_folder_path(@folder) %>
<%= link_to 'Back', folders_path %>
<%= link_to 'Destroy', @folder, method: :delete, data: { confirm: 'Are you sure?' } %>

<%= render 'children' %>

